.store-div{
    display:flex;
    flex-wrap: wrap;
    max-width:960px;
    margin:auto;
    align-items: center;
    text-align: center;
}

.store-title{
    width:80px;
    margin:auto;
    color: #2455aa;
}