*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.home-title{
    max-width:360px;
    word-wrap: normal;
    margin:auto;
    color:rgb(7, 31, 165);
    padding:5px;
}

.home-text{
    color:rgb(7, 31, 165);
    font-weight: bold;
    max-width:900px;
    margin:auto;
    margin-top:50px;
    word-wrap: normal;
    padding:5px;
    text-align: center;
}

.Ramon{
    max-width:200px;
    margin:auto;
    font-size: 20px;
    word-wrap: normal;
    padding:5px;
    margin-top:50px;
    color:rgb(0, 21, 139);
}


.slide-area{
    max-width:900px;
    height:360px;
    overflow:hidden;
    margin:auto;
    margin-top:50px;
    border-radius:10px;
}

.slide-images{
    display:flex;
    width:5000px;
    transition: all 1s;
}

.slide-images img{
    width:100%;
    max-height:100%;
}

/* RADIOS */

.radios{
    width:300px;
    display:flex;
    justify-content: space-between;
    margin:auto;
    position: relative;
    margin-top: -30px;
    background: none;
    cursor:pointer;
    background-color:transparent;
}

.radio-button{
    width:15px;
    height:15px;
    border:2px solid white;
    border-radius: 50%;
    background-color:transparent;
}
.radio-button:hover{
    background-color:blue;
}
/* RADIOS */

/* SLIDE ITEMS */
.torradeira{
    width:900px;
    height:360px;
    background-image: url("/public/images/torradeira.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.micro{
    width:900px;
    height:360px;
    background-image: url("/public/images/micro.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.fogao{
    width:900px;
    height:360px;
    background-image: url("/public/images/fogão.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.liquidificador{
    width:900px;
    height:360px;
    background-image: url("/public/images/liquidificador.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.geladeira{
    width:900px;
    height:360px;
    background-image: url("/public/images/geladeira.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.mesa{
    width:900px;
    height:360px;
    background-image: url("/public/images/mesa.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.sofa{
    width:900px;
    height:360px;
    background-image: url("/public/images/sofa.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.lavadoura{
    width:900px;
    height:360px;
    background-image: url("/public/images/lavadoura.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.tv{
    width:900px;
    height:360px;
    background-image: url("/public/images/tv.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
/* SLIDE ITEMS */


